BODY{ background-color: #8B0000;
color: white ;
font-family: monospace;
text-align: center;
}

.title{
    font-size: 40px;
    color: #FFEFD5;
}

.list-item{
    margin: 24px;
    font-size: 24px;
    text-align: center;
}