

body{
 width: 100vw;
 height: 100vh;
 background-image: url(allface-repositorio/gaymio.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: 900px 520px;
 color: #258dd2;
font-family: monospace;
text-align: center;
}
.button{
  color: rgb(0, 0, 0);
  text-align: center;
  
}
